.button-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__item {
    @media screen and (min-width: 480px) {
      margin-bottom: 15px;
    }

    margin-right: 8px;
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.button-list__secondary {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  cursor: pointer;
  color: var(--primary-text-colora);
  background-color: var(--primery-bg-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  text-align: center;
  border: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #fff;
    background-color: var(--accent-color);
  }
}
