.company-list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__item {
    margin-bottom: 15px;
    margin-left: 60px;
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      margin: 15px;
    }
    @media screen and (min-width: 768px) {
      margin: 15px;
    }
  }

  &__icon {
    fill: currentColor;
  }

  .company-list__link {
    @media screen and (min-width: 480px) {
      width: 210px;
    }
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
    color: #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
  }
}
