.section-command {
  background-color: var(--primery-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-bottom: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
    margin-bottom: 30px;
  }
}
.section__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.command {
  // display: flex;

  &__item {
    background-color: var(--footer-logo-color);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 480px) {
      width: 450px;
      margin-bottom: 30px;
    }
  }
}

&__item:last-child {
  margin-right: 0;
}
&__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}
&__text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.command__box {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
}

.social {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--footer-logo-color);
  }
}

.social__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}
