.section-development {
  padding-bottom: 94px;
  display: none;
}
.photo-list {
  display: flex;
  &__item {
    margin-right: 30px;
    position: relative;
  }
  &__title {
    position: absolute;
    width: 100%;
    height: 70px;
    display: block;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--footer-logo-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
  }
  &__item:last-child {
    margin-right: 0px;
  }
}
