.footer-page {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    padding-top: 0;
    padding-bottom: 0;
    @media screen and(min-width:1200px) {
      display: flex;
      align-items: baseline;
      padding: 0;
    }
  }
}

.footer-nav__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.footer-soc__link {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.logo-footer {
  color: var(--footer-logo-color);
}
.footer-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    margin-left: 0;
    margin-right: 70px;
  }
}
.geolocation {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: var(--footer-logo-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}

.footer__logo {
  color: var(--footer-logo-color);
}
.footer-nav__list {
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // margin-bottom: 60px;
}

.footer-link {
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    // margin-left: 70px;
    margin-right: 0;
  }
}
.footer-title {
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.footer-soc__list {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-soc__item + .footer-soc__item {
  margin-left: 10px;
}

.footer-soc__icon {
  fill: #ffffff;
}

.footer-mail {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.footer__form {
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid var(--title-text-color);
  border-radius: 4px;
  color: var(--primery-bg-color);
}
.footer__button {
  @media screen and (min-width: 1200px) {
    margin: 0 0 0 12px;
  }
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
  border: transparent;
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
  text-align: center;
}
.footer-icon {
  margin-left: 10px;
}
.footer-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    flex-direction: inherit;
    align-items: baseline;
  }
}
.footer-tablet {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;

    justify-content: center;

    align-items: baseline;
  }
}
