.hero {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--header-logo-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img-home-work2/Img9.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;

  &-title {
    color: var(--footer-logo-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__button {
    cursor: pointer;
    color: #fff;
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    width: 200px;
    height: 50px;
  }
}
